// General styles for the content sections

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @include all-small-screens {
    flex-direction: column-reverse;
  }

  @include tablet-landscape {
    flex-direction: column-reverse;
  }

  %half-content {
    width: 50%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }

  %section-title {
    font-size: 2rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
  }

  .coloured {
    @extend %half-content;
    background-color: $primary-colour;

    .widget-container {
      padding: 1.5rem;
    }

    .section-title {
      @extend %section-title;
      color: #ffffff;
    }

    .wpforms-form, form {
      padding: 1.5rem;
      color: #ffffff;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      width: 100%;

      @include tablet-portrait {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      %form-component {
        width: 100%;
        background-color: $primary-colour;
        border: 0.1rem solid #ffffff;
        padding: 0 0.5rem 0 0.5rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 1.5rem;

        &:focus {
          border: 0.15rem solid #ffffff;
        }

        @include phone-landscape {
          margin-bottom: 0.4rem;
          font-size: 0.8rem;
        }
      }

      .wpforms-field input, input {
        @extend %form-component;
        height: 1.5rem;
        border-radius: 1.5rem;
      }

      .wpforms-field {
        padding: 0;
      }

      [type="submit"] {
        width: 14rem;
        border: 0.15rem solid #ffffff;

        &:hover {
          background-color: #ffffff;
          color: $primary-colour;
        }
      }

      .wpforms-submit {
        @extend %form-component;
        width: 14rem;
        border: 0.15rem solid #ffffff;

        &:hover {
          background-color: #ffffff;
          color: $primary-colour;
        }
      }

      textarea {
        @extend %form-component;
        height: 4rem;
        border-radius: 0.5rem;

        @include phone-landscape {
          height: 3rem;
        }
      }

      // Place the first name and lastname input on the same line
      .name {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        grid-column-gap: 1.5rem;
      }
    }
  }

  .white {
    @extend %half-content;

    div {
      padding: 1.5rem;

      a {
        color: $primary-colour;
        text-decoration: none;
      }
    }

    .section-title {
      @extend %section-title;
      color: $primary-colour;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 0.9rem;
    }

    ol {
      list-style: none;
      counter-reset: list-counter;

      li {
        counter-increment: list-counter;

        &:before {
          content: counter(list-counter);
          float: left;
          color: $primary-colour;
          border: 0.15rem solid $primary-colour;
          border-radius: 100%;
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          font-weight: bold;
          margin-right: 0.6rem;
        }
      }
    }
  }

  @include all-small-screens {
    .coloured, .white {
      width: 100%;
    }

    .white {
      min-height: 100vh;
      height: unset;
    }
  }

  @include tablet-landscape {
    .coloured, .white {
      width: 100%;
    }

    .white {
      min-height: 100vh;
      height: unset;
    }
  }
}
