@import url("https://fonts.googleapis.com/css?family=Roboto|Source+Serif+Pro&display=swap");
@-webkit-keyframes coloured-come-in {
  0% {
    transform: translate(-100%, 0); }
  100% {
    transform: translate(0, 0); } }

@-moz-keyframes coloured-come-in {
  0% {
    transform: translate(-100%, 0); }
  100% {
    transform: translate(0, 0); } }

@-o-keyframes coloured-come-in {
  0% {
    transform: translate(-100%, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes coloured-come-in {
  0% {
    transform: translate(-100%, 0); }
  100% {
    transform: translate(0, 0); } }

@-webkit-keyframes white-come-in {
  0% {
    transform: translate(100%, 0); }
  100% {
    tranform: translate(0, 0); } }

@-moz-keyframes white-come-in {
  0% {
    transform: translate(100%, 0); }
  100% {
    tranform: translate(0, 0); } }

@-o-keyframes white-come-in {
  0% {
    transform: translate(100%, 0); }
  100% {
    tranform: translate(0, 0); } }

@keyframes white-come-in {
  0% {
    transform: translate(100%, 0); }
  100% {
    tranform: translate(0, 0); } }

/*
@mixin small-laptop {
  @media only screen and (max-width: 1000px) {
    @content;
  }
}
*/
* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

#hero {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh) * 100); }
  #hero #background-img {
    background: url("./img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh) * 100);
    position: absolute;
    z-index: -1000; }
  #hero .coloured, #hero .white {
    width: 50%;
    height: 100vh;
    height: calc(var(--vh) * 100);
    z-index: 100;
    float: left;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center; }
  #hero .coloured div, #hero .white div {
    position: absolute; }
    #hero .coloured div h1, #hero .white div h1 {
      font-size: 4.5rem;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Source Serif Pro', serif; }
    #hero .coloured div h2, #hero .white div h2 {
      font-size: 1.5rem;
      text-align: center;
      color: #333333; }
    #hero .coloured div button, #hero .white div button {
      display: block;
      width: 7rem;
      margin: auto;
      background-color: Transparent;
      border: none;
      font-size: 1.2rem;
      margin-top: 1rem; }
      #hero .coloured div button i, #hero .white div button i {
        pointer-events: none; }
  #hero .coloured {
    background-color: #ad5c51;
    opacity: 0.9;
    -webkit-animation: coloured-come-in 1.2s;
    -moz-animation: coloured-come-in 1.2s;
    -o-animation: coloured-come-in 1.2s;
    animation: coloured-come-in 1.2s; }
    #hero .coloured div {
      right: 0;
      transform: translate(50%, 0); }
    #hero .coloured h1 {
      color: #ffffff; }
    #hero .coloured button {
      transform: translate(-80%, 0);
      color: #ffffff; }
  #hero .white {
    background-color: #ffffff;
    opacity: 0.8;
    -webkit-animation: white-come-in 1.2s;
    -moz-animation: white-come-in 1.2s;
    -o-animation: white-come-in 1.2s;
    animation: white-come-in 1.2s; }
    #hero .white div {
      left: 0;
      transform: translate(-50%, 0); }
    #hero .white h1 {
      color: #ad5c51; }
    #hero .white button {
      transform: translate(80%, 0);
      color: #ad5c51; }

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 1200px) {
    .content {
      flex-direction: column-reverse; } }
  @media only screen and (min-width: 1000px) and (max-width: 2000px) and (min-height: 700px) and (max-height: 800px) {
    .content {
      flex-direction: column-reverse; } }
  .content .coloured, .content .white {
    width: 50%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: center; }
  .content .coloured .section-title, .content .white .section-title {
    font-size: 2rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold; }
  .content .coloured {
    background-color: #ad5c51; }
    .content .coloured .widget-container {
      padding: 1.5rem; }
    .content .coloured .section-title {
      color: #ffffff; }
    .content .coloured .wpforms-form, .content .coloured form {
      padding: 1.5rem;
      color: #ffffff;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      width: 100%; }
      @media only screen and (min-width: 700px) and (max-width: 1200px) and (min-height: 900px) {
        .content .coloured .wpforms-form, .content .coloured form {
          width: 80%;
          margin-left: auto;
          margin-right: auto; } }
      .content .coloured .wpforms-form .wpforms-field input, .content .coloured .wpforms-form input, .content .coloured .wpforms-form .wpforms-submit, .content .coloured .wpforms-form textarea, .content .coloured form .wpforms-form .wpforms-field input, .content .coloured .wpforms-form .wpforms-field form input, .content .coloured form .wpforms-form input, .content .coloured .wpforms-form form input, .content .coloured form .wpforms-field input, .content .coloured form input, .content .coloured form .wpforms-form .wpforms-submit, .content .coloured .wpforms-form form .wpforms-submit, .content .coloured form .wpforms-submit, .content .coloured form .wpforms-form textarea, .content .coloured .wpforms-form form textarea, .content .coloured form textarea {
        width: 100%;
        background-color: #ad5c51;
        border: 0.1rem solid #ffffff;
        padding: 0 0.5rem 0 0.5rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 1.5rem; }
        .content .coloured .wpforms-form input:focus, .content .coloured .wpforms-form .wpforms-submit:focus, .content .coloured .wpforms-form textarea:focus, .content .coloured form input:focus, .content .coloured form .wpforms-submit:focus, .content .coloured form textarea:focus {
          border: 0.15rem solid #ffffff; }
        @media only screen and (max-width: 900px) and (max-height: 500px) {
          .content .coloured .wpforms-form .wpforms-field input, .content .coloured .wpforms-form input, .content .coloured .wpforms-form .wpforms-submit, .content .coloured .wpforms-form textarea, .content .coloured form .wpforms-form .wpforms-field input, .content .coloured .wpforms-form .wpforms-field form input, .content .coloured form .wpforms-form input, .content .coloured .wpforms-form form input, .content .coloured form .wpforms-field input, .content .coloured form input, .content .coloured form .wpforms-form .wpforms-submit, .content .coloured .wpforms-form form .wpforms-submit, .content .coloured form .wpforms-submit, .content .coloured form .wpforms-form textarea, .content .coloured .wpforms-form form textarea, .content .coloured form textarea {
            margin-bottom: 0.4rem;
            font-size: 0.8rem; } }
      .content .coloured .wpforms-form .wpforms-field input, .content .coloured .wpforms-form input, .content .coloured form .wpforms-field input, .content .coloured form input {
        height: 1.5rem;
        border-radius: 1.5rem; }
      .content .coloured .wpforms-form .wpforms-field, .content .coloured form .wpforms-field {
        padding: 0; }
      .content .coloured .wpforms-form [type="submit"], .content .coloured form [type="submit"] {
        width: 14rem;
        border: 0.15rem solid #ffffff; }
        .content .coloured .wpforms-form [type="submit"]:hover, .content .coloured form [type="submit"]:hover {
          background-color: #ffffff;
          color: #ad5c51; }
      .content .coloured .wpforms-form .wpforms-submit, .content .coloured form .wpforms-submit {
        width: 14rem;
        border: 0.15rem solid #ffffff; }
        .content .coloured .wpforms-form .wpforms-submit:hover, .content .coloured form .wpforms-submit:hover {
          background-color: #ffffff;
          color: #ad5c51; }
      .content .coloured .wpforms-form textarea, .content .coloured form textarea {
        height: 4rem;
        border-radius: 0.5rem; }
        @media only screen and (max-width: 900px) and (max-height: 500px) {
          .content .coloured .wpforms-form textarea, .content .coloured form textarea {
            height: 3rem; } }
      .content .coloured .wpforms-form .name, .content .coloured form .name {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        grid-column-gap: 1.5rem; }
  .content .white div {
    padding: 1.5rem; }
    .content .white div a {
      color: #ad5c51;
      text-decoration: none; }
  .content .white .section-title {
    color: #ad5c51; }
  .content .white p {
    font-size: 1.2rem;
    margin-bottom: 0.9rem; }
  .content .white ol {
    list-style: none;
    counter-reset: list-counter; }
    .content .white ol li {
      counter-increment: list-counter; }
      .content .white ol li:before {
        content: counter(list-counter);
        float: left;
        color: #ad5c51;
        border: 0.15rem solid #ad5c51;
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 0.6rem; }
  @media only screen and (max-width: 1200px) {
    .content .coloured, .content .white {
      width: 100%; }
    .content .white {
      min-height: 100vh;
      height: unset; } }
  @media only screen and (min-width: 1000px) and (max-width: 2000px) and (min-height: 700px) and (max-height: 800px) {
    .content .coloured, .content .white {
      width: 100%; }
    .content .white {
      min-height: 100vh;
      height: unset; } }

#project-gallery {
  width: 100%;
  height: 80vh; }
  #project-gallery #project-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; }
    #project-gallery #project-container .project {
      height: 20vh;
      width: 15vw;
      margin-top: 3.33vh;
      margin-left: 0.72vw;
      margin-right: 0.72vw;
      position: relative; }
      @media only screen and (max-width: 900px) and (max-height: 500px) {
        #project-gallery #project-container .project {
          height: 20vh;
          width: 22%;
          margin-top: 4%;
          margin-left: auto;
          margin-right: auto;
          position: relative; } }
      @media only screen and (max-width: 1200px) {
        #project-gallery #project-container .project {
          height: 20vh;
          width: 22%;
          margin-top: 4%;
          margin-left: auto;
          margin-right: auto;
          position: relative; } }
      @media only screen and (min-width: 700px) and (max-width: 1200px) and (min-height: 900px) {
        #project-gallery #project-container .project {
          height: 12vh;
          width: 36%;
          margin-top: 4%;
          margin-left: auto;
          margin-right: auto;
          position: relative; } }
      @media only screen and (max-width: 600px) and (min-height: 500px) {
        #project-gallery #project-container .project {
          height: 12vh;
          width: 45%;
          margin-top: 4%;
          margin-left: auto;
          margin-right: auto;
          position: relative; } }
      #project-gallery #project-container .project img {
        width: 100%;
        height: 100%; }
      #project-gallery #project-container .project .project-title {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: #ffffff;
        opacity: 0;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s; }
        #project-gallery #project-container .project .project-title:hover {
          opacity: 0.8; }
          @media only screen and (max-width: 600px) and (min-height: 500px) {
            #project-gallery #project-container .project .project-title:hover {
              opacity: 0; } }
          @media only screen and (max-width: 900px) and (max-height: 500px) {
            #project-gallery #project-container .project .project-title:hover {
              opacity: 0; } }
          @media only screen and (min-width: 700px) and (max-width: 1200px) and (min-height: 900px) {
            #project-gallery #project-container .project .project-title:hover {
              opacity: 0; } }
        #project-gallery #project-container .project .project-title h3 {
          font-family: 'Source Serif Pro', serif;
          text-align: center;
          width: 100%;
          color: #683730; }
          @media only screen and (max-width: 600px) and (min-height: 500px) {
            #project-gallery #project-container .project .project-title h3 {
              display: none;
              font-size: 0.8rem; } }
          @media only screen and (max-width: 900px) and (max-height: 500px) {
            #project-gallery #project-container .project .project-title h3 {
              display: none;
              font-size: 0.7rem; } }
          @media only screen and (min-width: 700px) and (max-width: 1200px) and (min-height: 900px) {
            #project-gallery #project-container .project .project-title h3 {
              display: none; } }
        #project-gallery #project-container .project .project-title a {
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          padding: 0.25rem;
          font-size: 0.8rem;
          color: #24292e; }
          @media only screen and (max-width: 900px) and (max-height: 500px) {
            #project-gallery #project-container .project .project-title a {
              font-size: 0.7rem;
              display: none; } }
          @media only screen and (min-width: 700px) and (max-width: 1200px) and (min-height: 900px) {
            #project-gallery #project-container .project .project-title a {
              display: none; } }
          @media only screen and (max-width: 600px) and (min-height: 500px) {
            #project-gallery #project-container .project .project-title a {
              display: none; } }
      #project-gallery #project-container .project .active-links {
        opacity: 0.8; }
        #project-gallery #project-container .project .active-links:hover {
          opacity: 0.8; }
        #project-gallery #project-container .project .active-links a {
          display: block; }
        #project-gallery #project-container .project .active-links h3 {
          display: block; }
  #project-gallery #pagination {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    #project-gallery #pagination .page {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: 0.1rem solid #ffffff;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      margin: 0 0.5rem 0 0.5rem;
      color: #ad5c51;
      background-color: #ffffff;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    #project-gallery #pagination a {
      text-decoration: none; }
      #project-gallery #pagination a .page {
        background-color: #ad5c51;
        color: #ffffff; }
        #project-gallery #pagination a .page:hover {
          background-color: #ffffff;
          color: #ad5c51; }
    #project-gallery #pagination .arrow {
      background: #ffffff;
      color: #ad5c51;
      margin: 0 1rem 0 1rem; }

.content-project {
  width: 75%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  margin-top: 1.5rem; }
  .content-project p {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-top: 2rem; }
    .content-project p:first-child {
      margin-top: 0; }
  .content-project img {
    margin: 1rem; }
  @media only screen and (max-width: 600px) and (min-height: 500px) {
    .content-project figure {
      width: 100%; } }
  .content-project h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 3rem;
    color: #ad5c51;
    text-transform: uppercase; }
  .content-project i {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0 1rem 0; }
  .content-project a {
    color: #ad5c51;
    text-decoration: none; }
  .content-project #tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem 0; }
    .content-project #tags .tag {
      border: 0.18rem solid #ad5c51;
      border-radius: 10px;
      padding: 0.5rem;
      margin: 0.5rem;
      font-weight: bold; }
  .content-project #home-button-link {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    text-decoration: none;
    background-color: #ad5c51;
    color: #ffffff; }
    .content-project #home-button-link i {
      font-size: 1.5rem; }
    @media only screen and (max-width: 600px) and (min-height: 500px) {
      .content-project #home-button-link {
        padding: 0 0.4rem 0 0.4rem; }
        .content-project #home-button-link i {
          font-size: 1rem; } }
  .content-project .featured-img {
    width: 40%;
    height: auto;
    float: left;
    margin: 0.7rem 1rem 1rem 0; }
    @media only screen and (max-width: 1200px) {
      .content-project .featured-img {
        width: 100%; } }
    .content-project .featured-img .attachment-post-thumbnail {
      width: 100%;
      height: auto;
      margin: 0; }
    .content-project .featured-img .buttons {
      margin: 0.5rem 0 0.5rem 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .content-project .featured-img .buttons a {
        background-color: #ad5c51;
        color: #ffffff;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        border: 0;
        min-width: 40%;
        text-align: center; }
        .content-project .featured-img .buttons a i {
          padding: 0;
          margin: 0; }
        @media only screen and (max-width: 600px) and (min-height: 500px) {
          .content-project .featured-img .buttons a {
            width: 100%;
            margin-top: 1rem; } }
  .content-project .archive-post {
    display: block;
    clear: both;
    margin-top: 2rem; }
    .content-project .archive-post:after {
      content: '';
      clear: both;
      display: block;
      width: 100%;
      border: 1px solid #ce9d96;
      margin-top: 1rem; }
  .content-project .archive-title {
    color: #452520; }
